<div class="footer mt-5">
  <h3>Blog</h3>
  <div class="footer-links">
    <a class="social-icon" href="https://github.com/vkaraujo" target="_blank"><i class="fab fa-github"></i></a>
    <a class="social-icon" href="https://api.whatsapp.com/send?phone=5521993244202&text=Olá, Viktor" target="_blank"><i class="fab fa-whatsapp"></i></a>
    <a class="social-icon" href="https://www.linkedin.com/in/viktor-waissmann-de-araujo-62928640/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
  </div>
</div>

