.form-login {
    background: white;
    padding: 10px 20px;
    margin-top: 16px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    h2 {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 32px;
      margin-top: 16px;
      text-align: center;
    }
    .btn {
      width: 100%;
      margin-bottom: 8px;
    }
  }