.reader-header-image {
    height: 230px;
    background-size: cover;
    background-position: center;
  }

.reader-post-card {
    height: 550px;}

.show-header-image {
height: 350px;
background-size: cover;
background-position: center;
}

.show-image-element {
text-align: center;
img {
    max-width: 80%;
}
}

  

